.carrossel_titulo {
  color: var(--vermelho);
  background-color: var(--branco);
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  padding: 1em 0 0.5em 0;
}
.swiper-slide img {
  width: 100%;
  object-fit: contain;
}
.swiper-pagination {
  position: initial;
}
.swiper-pagination-bullet {
  background: var(--vermelho) !important;
}
