hr {
  margin: 0;
  border: 1px solid var(--rosa-bebe);
}
.rodape {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.redes_sociais_dev img {
  margin-left: 10px;
}
