@import url("header.css");
@import url("banner.css");
:root {
  --cor-de-fundo: #ebecee;
  --branco: #ffffff;
  --vermelho: #c6302c;
  --rosa-bebe: #da7073;
  --pink: rgb(188, 22, 74);
  --fonte-principal: "Poppins", sans-serif;
}

body {
  background-color: var(--cor-de-fundo);
  font-family: var(--fonte-principal);
  font-size: 16px;
  font-weight: 400;
}

h1 {
  color: red;
}
