@import url("header.css");
:root {
  --cor-de-fundo: #ebecee;
  --branco: #ffffff;
  --laranja: #eb9b00;
  --azul-gradiente: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
  --fonte-principal: "Poppins", sans-serif;
}

body {
  background-color: var(--cor-de-fundo);
  font-family: var(--fonte-principal);
  font-size: 16px;
  font-weight: 400;
}

h1 {
  color: red;
}
