@import url("header.css");
@import url("banner.css");
@import url("carrossel.css");
@import url("topicos.css");
@import url("contato.css");
@import url("redes_sociais.css ");
@import url("rodape.css");
@import url("responsive.css");
:root {
  --cor-de-fundo: #ebecee;
  --branco: #ffffff;
  --vermelho: #c6302c;
  --rosa-bebe: #da7073;
  --pink: rgb(188, 22, 74);
  --preto: #000000;
  --fonte-principal: "Poppins", sans-serif;
  --fonte-secundaria: "Playfair Display", serif;
}

body {
  background-color: var(--cor-de-fundo);
  font-family: var(--fonte-principal);
  font-size: 16px;
  font-weight: 400;
}
