@media screen and (min-width: 1024px) {
  .container_imagem_logo {
    width: 50vh;
    padding: 0.5em;
  }

  .opcoes {
    display: flex;
    text-transform: uppercase;
  }
  .opções__item {
    padding: 0 1em;
    text-decoration: none;
    color: var(--preto);
  }
  .opcoes :hover {
    font-size: 18px;
    color: var(--rosa-bebe);
  }

  .lista-menu_item:hover {
    background-color: var(--rosa-claro);
  }
  .container_imagem-transparente,
  .cabeçalho_menu-hamburguer,
  .opcoes_botao {
    display: none;
  }

  .container_icones {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2em;
  }
  .container_texto {
    display: block;
  }
  .container_texto:hover {
    color: var(--pink);
  }

  .opcoes_botao:checked ~ .lista-menu {
    display: block;
    width: auto;
  }

  .banner_titulo {
    font-size: 36px;
  }
  .banner_pesquisa {
    width: 50%;
  }
  .banner_pesquisa::placeholder {
    background-position: 7em;
  }

  .swiper {
    width: 40% !important;
  }
  .carrossel_titulo {
    font-size: 26px;
  }
  .carrossel_container {
    display: flex;
    margin: 0 4vw 2em 4vw;
    align-items: center;
  }
  .card {
    margin-left: 20px !important;
  }

  .topicos_titulo {
    font-size: 24px;
  }
  .topicos_link {
    font-size: 24px;
  }
  .contato {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contato_titulo {
    font-size: 24px;
  }
  .contato_email {
    width: 30%;
  }
  .contato_descricao {
    margin-right: 3em;
  }
  .baby {
    width: 70%;
  }
  .botao_comprar {
    display: none;
  }
  .botao_buy {
    display: block;
    margin: 0 16em 5em;
  }
}
@media screen and (min-width: 820px) {
  .container_imagem_logo {
    width: 50vh;
    padding: 0.5em;
  }

  .opcoes {
    display: flex;
    text-transform: uppercase;
  }
  .opções__item {
    padding: 0 1em;
    text-decoration: none;
    color: var(--preto);
  }
  .opcoes :hover {
    font-size: 18px;
    color: var(--rosa-bebe);
  }
  .container_imagem-transparente,
  .cabeçalho_menu-hamburguer,
  .opcoes_botao {
    display: none;
  }

  .container_icones {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2em;
  }
  .container_texto {
    display: block;
  }
  .container_texto:hover {
    color: var(--pink);
  }

  .opcoes_botao:checked ~ .lista-menu {
    display: block;
    width: auto;
  }

  .banner_titulo {
    font-size: 36px;
  }
  .banner_pesquisa {
    width: 50%;
  }
  .banner_pesquisa::placeholder {
    background-position: 7em;
  }
  .carrossel_titulo {
    font-size: 26px;
  }

  .swiper-pagination {
    margin: 2em 0 3em 0;
  }
  .swiper {
    width: 60%;
  }
  .card {
    width: 40%;
    margin: 2em auto;
  }
  .topicos_titulo {
    font-size: 24px;
  }
  .topicos_link {
    font-size: 24px;
  }
  .contato {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contato_titulo {
    font-size: 24px;
  }
  .contato_email {
    width: 30%;
  }
  .contato_descricao {
    margin-right: 3em;
  }
  .baby {
    width: 70%;
  }
}
