@import url("../header.css");
@import url("../rodape.css");

@import url("container-login.css");
@import url("container-cadastro.css");

:root {
  --branco: #ffffff;
  --vermelho: #c6302c;
  --rosa-bebe: #da7073;
  --pink: rgb(188, 22, 74);
  --pink-secundario: #b3093f;
  --cinza: rgba(3, 3, 3, 0.42);
  --gray: rgba(0, 0, 0, 0.26);
  --rosa-claro: #ffdfdf;
  --preto: #000000;
  --fonte-principal: "Poppins", sans-serif;
  --fonte-secundaria: "Playfair Display", serif;
  --font-terciaria: "Kumbh Sans", serif;
}
body {
  background-color: var(--branco);
}
